@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  background-color: var(--milk-color);
  color: var(--black-color);
  font-family: 'Roboto';
  font-style: normal;
  margin: 0;
  /* 1 */
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

* {
  padding: 0;
  margin: 0;
  /* border: 0; */
}

a {
  text-decoration: none;
}

img {
  padding: 0;
  margin: 0;
  border: 0;
}

/*--------------------*/
/* outline: tomato; */
/* С‡РµСЂРЅС‹Р№ #000000 */
/* РѕСЃРЅРѕРІРЅРѕР№ С‚РµРєСЃС‚ #212121; */
/* РІС‚РѕСЂРѕСЃС‚РµРїРµРЅС‹Р№ С†РІРµС‚ #757575; */
/* Р°РєС†РµРЅС‚ #2196F3 */
/* РѕС‚С‚РµРЅРѕРє Р°РєС†РµРЅС‚Р° #188CE8; */
/* С„СѓС‚РµСЂ Р±РµРєРіСЂР°СѓРЅРґ #2F303A; */
/* color #F5F4FA */
/* РјРѕР»РѕС‡РЅС‹Р№ #F5F4FA */
:root {
  --opacity-grey: rgba(117, 117, 117, 1);
  --opacity-white: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --milk-color: #F5F4FA;
  --grey-color: #757575;
  --black-color: #212121;
  --backgraund-color: #2F303A;
  --black: #000000;
  --akcent-color: #2196F3;
  --akcent-fon: #188CE8;
  --hover: #188ae871;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--milk-color);
  color: var(--black-color);
  font-family: 'Roboto';
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  height: 80px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 768px;
    margin: 0 auto;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    height: 80px;
  }
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

/* Лого */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-right: 5%;
  color: #000000;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.word-web {
  color: #2196F3;
}

.secondary {
  color: #ffffff;
}

/* навигация */
.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 15px 15px 0 auto;
  padding: 0;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-menu {
  width: 20px;
  height: 20px;
}

.icon-cross {
  width: 20px;
  height: 20px;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.burger {
  position: absolute;
  display: none;
  top: 60px;
  width: 100%;
  background-color: #fff;
}

.burger.is-open {
  display: block;
}

.boorger-nav {
  padding: 0 15px;
  margin: 32px 0;
}

.boorger-nav li {
  margin-bottom: 32px;
}

.boorger-nav a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.boorger-nav a:hover {
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .boorger-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .boorger-nav {
    display: none;
  }
}

.boorger-connection {
  margin-top: 50%;
  margin-bottom: 60px;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .boorger-connection {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .boorger-connection {
    display: none;
  }
}

.boorger-social {
  padding: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #757575;
}

.boorger-social li {
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.boorger-social a {
  color: #2196F3;
}

.boorger-social span {
  color: #757575;
  font-weight: lighter;
}

@media screen and (min-width: 480px) {
  .boorger-social {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .boorger-social {
    display: none;
  }
}

.bo {
  margin-bottom: 32px;
}

.bo a {
  font-size: 34px;
  line-height: 40px;
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .bo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .bo {
    display: none;
  }
}

.boo a {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .boo a {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .boo a {
    display: none;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 480px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .nav-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.item::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.header-link {
  color: #212121;
}

.header-link:hover {
  color: #2196F3;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

@media screen and (min-width: 480px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.connection-link :hover {
  color: #2196F3;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.connection a {
  display: none;
}

@media screen and (min-width: 480px) {
  .connection a {
    display: block;
    padding: 2%;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    padding: 5px;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .connection a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    color: #757575;
  }
}

.connection-svg {
  width: 20px;
  height: 23px;
  fill: currentColor;
}

.main {
  padding-top: 80px;
  margin: auto;
  background-color: #ffffff;
}

.overlay {
  max-width: 480px;
  height: 400px;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(160, 115, 214, 0.433)), to(rgba(8, 1, 12, 0.341))), url(../../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(160, 115, 214, 0.433), rgba(8, 1, 12, 0.341)), url(../../images/hero.jpg);
  background-color: #000000;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 480px) {
  .overlay {
    max-width: 768px;
    height: 400px;
    margin: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(160, 115, 214, 0.433)), to(rgba(8, 1, 12, 0.341))), url(../../images/hero.jpg);
    background-image: linear-gradient(to right, rgba(160, 115, 214, 0.433), rgba(8, 1, 12, 0.341)), url(../../images/hero.jpg);
    background-color: #000000;
    background-size: cover;
    background-position: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    margin: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(160, 115, 214, 0.433)), to(rgba(8, 1, 12, 0.341))), url(../../images/hero.jpg);
    background-image: linear-gradient(to right, rgba(160, 115, 214, 0.433), rgba(8, 1, 12, 0.341)), url(../../images/hero.jpg);
    background-color: #000000;
    background-size: cover;
    background-position: center;
  }
}

.title {
  padding-top: 100px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    padding-top: 150px;
    font-size: 44px;
    line-height: 60px;
  }
}

.btn {
  display: inline-block;
  margin-top: 25px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .btn {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    margin-top: 55px;
  }
}

.btn:hover,
.btn:focus {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background-color: #188CE8;
}

.power {
  max-width: 1170px;
  margin: auto;
}

.power h3 {
  text-align: center;
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .power h3 {
    text-align: start;
    margin: 5px;
  }
}

@media screen and (min-width: 768px) {
  .power h3 {
    text-align: start;
    margin: 5px;
  }
}

.power p {
  margin: 10px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .power p {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .power p {
    text-align: start;
  }
}

@media screen and (min-width: 480px) {
  .power-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .power-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.li-power {
  margin: 0 20px;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .li-power {
    margin: 0;
    width: calc(100% / 2 - 10px);
  }
}

@media screen and (min-width: 768px) {
  .li-power {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 25%;
  }
}

/* SVG */
.power-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 33%;
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .power-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    width: 90%;
  }
}

.power-svg {
  width: 70px;
  height: 70px;
}

.why {
  display: none;
}

@media screen and (min-width: 480px) {
  .why {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .why {
    display: block;
    text-align: center;
    margin: 40px 0;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
  }
}

.why-item {
  display: none;
}

@media screen and (min-width: 480px) {
  .why-item {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .why-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
  }
}

.why-img {
  position: relative;
  width: 370px;
  margin: 10px;
}

.why-p {
  position: absolute;
  width: 100%;
  padding: 30px 0;
  bottom: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(40, 33, 34, 0.726)), to(rgba(60, 5, 90, 0.538)));
  background-image: linear-gradient(to right, rgba(40, 33, 34, 0.726), rgba(60, 5, 90, 0.538));
  color: whitesmoke;
}

.team {
  max-width: 1170px;
  margin: auto;
  margin-top: 30px;
  background-color: #F5F4FA;
}

.team p {
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.team h3 {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.team-h2 {
  padding: 30px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  padding: 0;
  text-align: center;
  border-radius: 4px;
}

.team-item > li {
  width: 80%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 25px;
  padding: 5px;
}

@media screen and (min-width: 480px) {
  .team-item > li {
    width: calc(100% / 2 - 10px);
    width: 354px;
  }
}

@media screen and (min-width: 768px) {
  .team-item > li {
    width: 270px;
  }
}

/* .why-item:nth-child(3n) {
    margin-bottom: 0;
} */
.social-link {
  padding: 0 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

.a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.social-svg {
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  fill: #afb1b8;
}

.social-svg:hover {
  -webkit-transform: translate(5px, -1px);
          transform: translate(5px, -1px);
  fill: #fff;
  background-color: #188CE8;
  border-radius: 50%;
}

.clients {
  max-width: 1170px;
  margin: 20px auto 0;
  padding-bottom: 50px;
  text-align: center;
}

.clients h2 {
  margin: 20px;
}

.names {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.names li {
  width: calc(100% / 2 - 25px);
}

@media screen and (min-width: 480px) {
  .names li {
    width: calc(100% / 3 - 25px);
  }
}

@media screen and (min-width: 768px) {
  .names li {
    width: calc(100% / 6 - 25px);
  }
}

.clients-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 5px;
  height: 92px;
  outline: 2px solid #F5F4FA;
  fill: #afb1b8;
  border-radius: 5px;
}

.clients-svg:hover {
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  fill: #2196F3;
  outline: 2px solid #2196F3;
}

.footer {
  margin: auto;
  background-color: #2F303A;
}

.footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 480px;
  margin: auto;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .footer-2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 750px;
  }
}

@media screen and (min-width: 768px) {
  .footer-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) {
  .address {
    margin-left: 10%;
    width: 35%;
  }
}

.foot-aut {
  text-align: center;
  list-style-type: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.foot-aut:hover,
.nav-aut,
.item:focus {
  color: #2196F3;
  border-radius: 30px;
}

/* footer logo */
.foot-logo {
  margin: 30px 0;
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

@media screen and (min-width: 480px) {
  .foot-logo {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .foot-logo {
    text-align: start;
  }
}

.foot-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .foot-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .foot-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.foot-item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  padding: 5px;
  margin: 2px;
}

.maps {
  text-align: center;
  color: #ffffff;
  font-style: normal;
}

.maps:hover {
  color: #2196F3;
}

.footer-p {
  text-align: center;
  padding: 10px 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-p {
    padding: 10px 35px;
  }
}

.footer-social {
  margin: auto;
}

@media screen and (min-width: 480px) {
  .footer-social {
    width: 35%;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    width: 350px;
  }
}

.wrapper-send {
  margin: auto;
}

.wrapper-send p {
  margin: 10px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.wrapper-send form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 10px;
  margin: 5px 0;
}

.wrapper-send form label {
  margin-top: 12px;
}

.wrapper-send input {
  display: block;
  width: 400px;
  padding: 10px 10px;
  margin-right: 10px;
  background-color: #2F303A;
}

@media screen and (min-width: 480px) {
  .wrapper-send input {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-send input {
    width: 350px;
  }
}

.wrapper-send input:hover {
  border: 1px solid #2196F3;
}

.wrapper-send button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  margin: 15px 0;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

@media screen and (min-width: 768px) {
  .wrapper-send button {
    width: 150px;
  }
}

.wrapper-send button:hover {
  background-color: #2F303A;
  color: #2196F3;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.svg-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  width: 29px;
  height: 29px;
  fill: currentColor;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.backdrop {
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 581px;
  }
}

.modalBTN {
  max-width: 150px;
  margin: 15px auto;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

@media screen and (min-width: 480px) {
  .modalBTN {
    max-width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .modalBTN {
    width: 250px;
  }
}

.modalBTN a {
  color: #fff;
}

.close {
  position: absolute;
  overflow: hidden;
  fill: #000000;
  display: block;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  background-color: #18e87d;
  border-radius: 20px;
  -webkit-transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.close:hover {
  background-color: #ff2f2f;
  -webkit-transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.close::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../../images/happy2.svg);
  background-size: contain;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03), -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
}

.close:hover::before {
  -webkit-transform: translateY(27px);
          transform: translateY(27px);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03), -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
}

.close::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 13px;
  display: inline-block;
  width: 13px;
  height: 13px;
  -webkit-transform: translateY(calc(-50% - 22px));
          transform: translateY(calc(-50% - 22px));
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03), -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
}

.close:hover::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  top: 50%;
  left: 9px;
  background-image: url(../../images/sad.svg);
  background-size: contain;
  -webkit-transform: translateY(calc(-50%));
          transform: translateY(calc(-50%));
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
  transition: transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03), -webkit-transform 600ms cubic-bezier(0.59, -1.47, 0.38, 2.03);
}

.modal h2 {
  padding: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.form-input {
  margin: auto;
  width: 90%;
  padding: 10px 45px;
}

.form-label {
  position: absolute;
  top: 75%;
  left: 75px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33);
  transition: -webkit-transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33);
  transition: transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33);
  transition: transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33), -webkit-transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33);
}

.form-icon {
  position: absolute;
  top: 3px;
  left: 37px;
  -webkit-transform: translate(30%, 45%);
          transform: translate(30%, 45%);
  display: block;
  width: 25px;
  height: 25px;
}

.form-icon svg {
  width: 25px;
  height: 25px;
  fill: #000000;
}

.form-field:focus-within > .form-icon svg {
  fill: #2196F3;
}

.form-field:focus-within > .form-label {
  color: #2196F3;
  -webkit-transform: translate(-41px, -51px);
          transform: translate(-41px, -51px);
  -webkit-transition: -webkit-transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33);
  transition: -webkit-transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33);
  transition: transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33);
  transition: transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33), -webkit-transform 700ms cubic-bezier(0.58, -0.41, 0.39, 1.33);
}

.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-41px, -51px);
          transform: translate(-41px, -51px);
}

.form p {
  padding-left: 45px;
  margin: 0;
}

textarea {
  display: block;
  margin: 12px auto;
  width: 90%;
  padding: 10px;
  resize: none;
  color: #000000;
  font-style: normal;
}

.wrapper-form {
  position: relative;
  width: 85%;
  margin: 10px auto;
  padding-left: 30px;
}

.wrapper-form input {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding-left: 20px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1px;
  left: 3px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.checbox:checked + .icon {
  border-color: transparent;
  background-image: url(../../images/icon_check.svg);
  background-color: #188CE8;
  background-size: contain;
  background-origin: border-box;
}

.modal-button {
  margin: 10px 200px;
  padding: 10px 20px;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #2196F3;
}

.modal-button a {
  color: #ffffff;
}

.modal-button:hover {
  background-color: #188CE8;
}
/*# sourceMappingURL=main.css.map */