.footer {
    margin: auto;
    background-color: $backgraund-color;
}

.footer-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 480px;
    margin: auto;
    padding: 10px;

    @media screen and (min-width:480px) {
    }
    
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1170px;
        margin: auto;
        padding: 10px;
    }
}

.foot-aut {
    text-align: center;
    list-style-type: none;
    font-style: normal;

    color: $opacity-white;
}

.foot-aut:hover,
.nav-aut,
.item:focus {
    color: $akcent-color;

    border-radius: 30px;
}

/* footer logo */

.foot-logo {
    margin: 30px 0;
    text-align: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    @media screen and (min-width:480px) {}
    
    @media screen and (min-width:768px) {}
}

.foot-item  {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:480px) {}
    
    @media screen and (min-width:768px) {}
}

.foot-item a {
    display: inline-flex;
    text-align: center;
    padding: 5px;
    margin: 2px;

    @media screen and (min-width:480px) {}
    
    @media screen and (min-width:768px) {}
}

.maps {
    text-align: center;
    color: $white-color;
    font-style: normal;

    @media screen and (min-width:480px) {}
    
    @media screen and (min-width:768px) {}
}

.maps:hover {
    color: $akcent-color;
}

.footer-p {
    text-align: center;
    padding: 10px 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;

    @media screen and (min-width:480px) {}
    
    @media screen and (min-width:768px) {
        padding: 10px 35px;
    }
}

.footer-social {
    margin: auto;
}

.wrapper-send {
    margin: auto;

p {
    margin: 10px;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 10px;
    margin: 5px 0;

    @media screen and (min-width:480px) {}
    
    @media screen and (min-width:768px) {}
}

input {
    display: block;
    width: 250px;
    padding: 10px 10px;
    margin-right: 10px;

    background-color: $backgraund-color;
    @media screen and (min-width:480px) {}
    
    @media screen and (min-width:768px) {
        width: 350px;
    }
}

input:hover{
    border: 1px solid $akcent-color;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin: 15px 0;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: $white-color;
    background-color: $akcent-fon;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: all 0.7s ease 0s;

    @media screen and (min-width:480px) {}
    
    @media screen and (min-width:768px) {
        width: 150px;
    }
}

button:hover {
    background-color: $backgraund-color;
    color: $akcent-color;

    transition: all 0.7s ease 0s;
}}


.svg-send {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 29px;
    height: 29px;

    fill: currentColor;

    transition: all 0.7s ease 0s;
}
