.header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;

    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.conteiner {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    height: 80px;

    @media screen and (min-width:480px) {
        display: flex;
        max-width: 768px;
        margin: 0 auto;
        height: 80px;
    }
    
    @media screen and (min-width:768px) {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    height: 80px;}
}

.nav {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/* Лого */
.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 5%;

    color: $black;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.word-web {
    color: $akcent-color;
}

.secondary {
    color: $white-color;
}

/* навигация */




.menu-button{
    display: inline-flex;
    margin: 15px 15px 0 auto ;
    padding: 0;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    @media screen and (min-width:480px) {
        display: none;
    }
    
    @media screen and (min-width:768px) {
        display: none;
    } 
}

.icon-menu{
width: 20px;
height: 20px;

& :hover {
    fill: $akcent-color;
}}

.icon-cross{
width: 20px;
height: 20px;

& :hover {
    fill: $akcent-color;
}}

.menu-button .icon-cross{
    display: none;
} 

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu{
    display: none;
}


.burger{
    position: absolute;
    display: none;
    top: 60px;
    width: 100%;
    background-color: #fff;

    overflow-y: scroll;

    &.is-open{
        display: block;
    }
}

.boorger-nav {
    padding: 0 15px;
    margin: 32px 0;

    li {
        margin-bottom: 32px;
    }

    a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;

        color: #212121;
    }

    & a:hover {
        color: $akcent-color;
    }

    @media screen and (min-width:480px) {
        display: none;
    }
    
    @media screen and (min-width:768px) {
        display: none;
    }
}

.boorger-connection {
    margin-top: 50%;
    margin-bottom: 60px;
    padding: 0 15px;

    @media screen and (min-width:480px) {
        display: none;
    }
    
    @media screen and (min-width:768px) {
        display: none;
    }

}

.boorger-social {
    padding: 0 0 35px 15px;
    display: flex;
    flex-wrap: wrap;

    color: $grey-color;

    li {
        margin: 5px;

        align-items: center;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;

    }

    a {
        color: $akcent-color;
    }

    span {
        color: $grey-color;

        font-weight: lighter;

    }

    @media screen and (min-width:480px) {
        display: none;
    }
    
    @media screen and (min-width:768px) {
        display: none;
    }

}

.bo {
    margin-bottom: 32px;

    a {

        font-size: 34px;
        line-height: 40px;
        color: $akcent-color;
    }

    @media screen and (min-width:480px) {
        display: none;
    }
    
    @media screen and (min-width:768px) {
        display: none;
    }
}

.boo a {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #757575;

    @media screen and (min-width:480px) {
        display: none;
    }
    
    @media screen and (min-width:768px) {
        display: none;
    }
}













.navigation {
    display: none;
    

    @media screen and (min-width:480px) {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
    
    @media screen and (min-width:768px) {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
}

.nav-list {

    @media screen and (min-width:480px) {
        position: relative;
        display: flex;
        margin: 3%;
        align-items: center;
        height: 100%;
    }
    
    @media screen and (min-width:768px) {
        position: relative;
        display: flex;
        margin: 10%;
        align-items: center;
        height: 100%;
    }
    
}

.item::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $akcent-color;
}

.header-link {
    color: $black-color;
}

.header-link:hover {
    color: $akcent-color;

    transition: all 0.2s ease 0s;
}

.connection {
    // display: flex;
    // align-items: center;
    // margin-left: auto;

    @media screen and (min-width:480px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
    }
}

.connection-link :hover {
    color: $akcent-color;

    transition: all 0.2s ease 0s;
}

.connection a {
    display: none;

    @media screen and (min-width:480px) {
        display: block;
        padding: 2%;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
       
        letter-spacing: 0.02em;
        padding: 5px;
        
        color: $grey-color;
    }
    
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        padding: 5px;
        color: $grey-color;    
    }
}

.connection-svg {
    width: 20px;
    height: 23px;
    
    fill: currentColor;
}
