.power {
    max-width: 1170px;
    margin: auto;

    h3 {
        text-align: center;

        margin-top: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.03em;

        @media screen and (min-width:480px) {
         text-align: start;
        margin: 5px;
        }

        @media screen and (min-width:768px) {
        text-align: start;
        margin: 5px;
        }
    }
    
    p {
        margin: 10px;
        color: $grey-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;

        @media screen and (min-width:480px) {
            text-align: start;
        }
        
        @media screen and (min-width:768px) {
            text-align: start;
        }
    }

}

.power-ul {
    
    @media screen and (min-width:480px) {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 10px;
        justify-content: space-around;
    }
    
    @media screen and (min-width:768px) {
        
        display: flex;
        flex-wrap: wrap;
        padding: 20px 10px;
        justify-content: space-around;
    }
}

.li-power {

    
    @media screen and (min-width:480px) { 
        width: calc(100% / 2 - 10px);
    }
    
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
       width: 25%;
    }
}

/* SVG */

.power-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 33%;
    background-color: $milk-color;

    @media screen and (min-width:480px) {

        // width: calc(100% / 2 - 10px);
    }
    
    @media screen and (min-width:768px) {
        align-items: center;
        padding: 5px;
        width: 90%;
    }
}

.power-svg {
    width: 70px;
    height: 70px;
}
