$opacity-grey: rgba(117, 117, 117, 1);
$opacity-white: rgba(255, 255, 255, 0.6);
$white-color: #ffffff;
$milk-color: #F5F4FA;
$grey-color: #757575;
$black-color: #212121;
$backgraund-color: #2F303A;
$black: #000000;
$akcent-color: #2196F3;
$akcent-fon: #188CE8;
$hover:#188ae871;